doctype html
html
  head
    title="badbrowser"
    <meta charset="UTF-8">
    <meta name="description" content="badbrowser">
    <meta name="keywords" content="badbrowser">
    <meta name="author" content="Denis Shevchenko">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
    <link href="/favicon.ico" rel="shortcut icon" >

    <meta name="theme-color" content="#ffffff">
    <meta property="og:locale" content="ru_RU">
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(style="margin: 30px auto; width:300px;text-align: center;")
      div Пожалуйста, используйте любой современный браузер: Chrome, Яндекс, Edge, Safari.

