html
    head
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-88562228-1"></script>
        <script></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet"/>
        <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
        <link href="/fonts.css" rel="stylesheet"/>
        <link href="https://unpkg.com/@silvermine/videojs-quality-selector/dist/css/quality-selector.css" rel="stylesheet">
        <link href="/main.css" rel="stylesheet">
        style.
            .video-js .vjs-big-play-button, .video-js:hover .vjs-big-play-button {

                background-color: #5C76BA;
                border-color: #5C76BA;
                }

            #langSelector{
                position: absolute;
                top: 4px;
                right: 4px;
                cursor: pointer;
                color: white;
                padding: 4px;
                border: 1px solid white;
                border-radius: 8px;
                opacity: .5;
            transition: opacity .5s ease;
            background: rgba(0,0,0,.2);
            }
            #langSelector:hover{
                opacity: 1;
            }

    body( style="opacity: 0;")
        .videoWrapper
            video.video.video-js#my-video( style="opacity:1" controls playsinline preload="auto" width="640" height="360" poster="/images/posters/!{id}_!{lang}.png" data-setup="{}")
                p(class="vjs-no-js") To view this video please JS, and consider upgrading to a web browser that<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p></video>

            <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
            <script src="https://unpkg.com/@silvermine/videojs-quality-selector/dist/js/silvermine-videojs-quality-selector.min.js"></script>

            script.

                window.dataLayer = window.dataLayer || [];

                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', 'UA-88562228-1');


                var player = videojs('my-video');
                player.src("https://hls-fabrikanews.cdnvideo.ru/fabrikanews2/if_!{id}_!{lang}/playlist.m3u8")
                player.srcIndex = 0;
                //player.controlBar.addChild('QualitySelector');
                document.getElementById("my-video").style.opacity = 1;
                document.querySelector('video').style.opacity = 1;

            <script src="/build.js"></script>