doctype html
html
    head
        title="vcbr"
        <meta charset="UTF-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0">
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            try {
                eval("let a=()=>{;;};")
            } catch (e) {
                console.log(e)
                document.location.href = "/badbrowser"
            }
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-WD4C64RD24"></script>
        link(rel='stylesheet', href='/stylesheets/style.css')
        style.
            .playerChatPoleWr{
                position: inherit;
            }
            .trackSelect{
                font-size: 18px;
                margin-left: 24px;
            }

    body(style="opacity:0")
        .spkWr#app
            .trackSelect Выберите трек&nbsp;
                select(v-model="track")
                    option(v-for="item in tracks" :value="item.id") {{item.title}}
            .qWr()
                include q
        script(src="/javascripts/vue.min.js")
        script(src="/javascripts/moment.min.js")
        script(src="/javascripts/axios.min.js")
        script(src="/javascripts/screenQScript.js")
