.voteBox
    .voteItem(v-for="vote in votes" v-if="vote.isactive")
        .voteItemTitle {{lang=="ru"?vote.title:vote.title_en}}
        .voteItemAnwers(v-if="!vote.iscompl")
            .voteItemAnswersItem.hover( v-bind:class="{ready:checkVote(answer)}" v-on:click="voting(answer)" :color="'answer'+i"  v-for="(answer, i) in vote.answers" v-if="answer.title && answer.title.length>0")
                .voteItemAnswersItemTitle()  {{lang=="ru"?answer.title:answer.title_en}}
                .voteItemAnswersItemCheck()
        .voteItemAnwers(v-else)
            .voteItemAnswersItem( v-bind:class="{}"  :color="'answer'+i"  v-for="(answer, i) in vote.answers" v-if="answer.title && answer.title.length>0")
                .voteItemAnswersItemTitle()  {{lang=="ru"?answer.title:answer.title_en}}
                .voteItemAnswersItemValueWr

                    .voteItemAnswersItemValueTitle {{parseInt(answer.perc*100)}}%
                    .voteItemAnswersItemValue(:style="'width:'+parseInt(answer.perc*100)+'%'")
