@color:#000000;
@green: #00BBEE;
@lite: rgba(210, 213, 95, 0.5);
@gray:#555555;
@white:#ffffff;
@red:#FFBB44;
@litegray:#E6E9EB;
@chat:#E6E9EB;

input:focus, input:active, textarea:focus, textarea:active{
  outline: none !important;
}
a{
  color:rgba(92,118,186,0.8);
}
a:hover{
  color:rgba(92,118,186,0.7);
}
input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@font-face {
  font-family: 'CB_StemRegular';
  src: url('CB_Stem-Regular.eot');
  src:
          url('/fonts/CB_Stem-Regular.eot?#iefix') format('embedded-opentype'),
          url('/fonts/CB_Stem-Regular.ttf') format('truetype'),
          url('/fonts/CB_Stem-Regular.woff2') format('woff2'),
          url('/fonts/CB_Stem-Regular.woff') format('woff'),
          url('/fonts/CB_Stem-Regular.svg#CB_Stem-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-Light.eot');
  src: local('/fonts/Stem Light'), local('/fonts/Stem-Light'),
  url('/fonts/Stem-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-Light.woff2') format('woff2'),
  url('/fonts/Stem-Light.woff') format('woff'),
  url('/fonts/Stem-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-Medium.eot');
  src: local('/fonts/Stem Medium'), local('/fonts/Stem-Medium'),
  url('/fonts/Stem-Medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-Medium.woff2') format('woff2'),
  url('/fonts/Stem-Medium.woff') format('woff'),
  url('/fonts/Stem-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-Bold.eot');
  src: local('/fonts/Stem Bold'), local('/fonts/Stem-Bold'),
  url('/fonts/Stem-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-Bold.woff2') format('woff2'),
  url('/fonts/Stem-Bold.woff') format('woff'),
  url('/fonts/Stem-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-SemiLight.eot');
  src: local('/fonts/Stem Semi Light'), local('/fonts/Stem-SemiLight'),
  url('/fonts/Stem-SemiLight.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-SemiLight.woff2') format('woff2'),
  url('/fonts/Stem-SemiLight.woff') format('woff'),
  url('/fonts/Stem-SemiLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-ExtraLight.eot');
  src: local('/fonts/Stem Extra Light'), local('/fonts/Stem-ExtraLight'),
  url('/fonts/Stem-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-ExtraLight.woff2') format('woff2'),
  url('/fonts/Stem-ExtraLight.woff') format('woff'),
  url('/fonts/Stem-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-Thin.eot');
  src: local('/fonts/Stem Thin'), local('/fonts/Stem-Thin'),
  url('/fonts/Stem-Thin.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-Thin.woff2') format('woff2'),
  url('/fonts/Stem-Thin.woff') format('woff'),
  url('/fonts/Stem-Thin.ttf') format('truetype');
  font-weight: 400;
  font-family: 'CB_StemRegular';
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Stem';
  src: url('/fonts/Stem-Regular.eot');
  src: local('/fonts/Stem Regular'), local('/fonts/Stem-Regular'),
  url('/fonts/Stem-Regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Stem-Regular.woff2') format('woff2'),
  url('/fonts/Stem-Regular.woff') format('woff'),
  url('/fonts/Stem-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: 'Stem';
  background-color: #EFF7FF;
  transition: opacity .5s ease;
  background-image: url(/images/wave.svg);
}
.tower{
  box-sizing: border-box;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 90px;
}
.mainMenu{
  display: flex;
  position: relative;
}
@keyframes fixedMenuAnimation {
  0% {opacity: 0}
  100% {opacity: 1}
}
.fixedMenu{
  position: fixed;
  left: 0;
  top: -16px;
  right: 0;
  overflow: hidden;
  background-color: #EFF7FF;
  z-index: 100;
  opacity: 1;
  animation: fixedMenuAnimation 1s ;
}
.logoWr{
  padding: 25px 0;
  padding-top: 20px;
}
.lastLogo{
  margin-left: 25px;
}
.menuWr, .loginWr{
  display: flex;
  gap: 25px;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}
.loginWr{
  position: absolute;
  right: 0;
  top:0;
  margin-right: 0;
}
.fixedMenu .sb{
  padding-bottom: 0;
  padding-top: 20px;
}
.menuItem{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: rgba(92, 118, 186, 0.8);
  cursor: pointer;

}
.menuItem:hover{
  color: rgba(92, 118, 186, 0.6);
}
.regBtn{
  cursor: pointer;
  background: #7F99DA;
  border-radius: 8px;
  padding: 6px 16px;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.regBtn:hover{
  background: rgba(127, 153, 218, 0.24);
  color: #5C76BA;
}
.langBtn{
  background: rgba(127, 153, 218, 0.24);
  border-radius: 8px;
  padding: 6px 16px;
  cursor: pointer;
  color:#5C76BA;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;

}
.langBtn:hover{ background: rgba(223, 232, 255, 0.24);
  color:#95AAE2}
.row{
  display: flex;
}
.fCol{
  width:~"calc(100% - (422px + 32px))";

}
.sCol{

  width:  ~"calc(422px + 32px)";
}
.aboutTitle{
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */
  color: #5C76BA;
}
.aboutDescr{
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  color: rgba(92, 118, 186, 0.8);
  margin-top:24px;
  font-weight: 300;
  padding-right: 32px;

}
.fBg{
  background-image: url("/images/fIcons.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

h1{
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px;
  color: #5C76BA;
  text-transform: uppercase;
  margin:0;
}
h2{
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  /* identical to box height */
  color: rgba(92, 118, 186, 0.8);
}
h4{
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: rgba(92, 118, 186, 0.8);
}
.regBtn2{
  background: #7F99DA;
  border-radius: 8px;
  padding: 13px 80px;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  color: #FFFFFF;
  width: max-content;
}
.regBtn2:hover {
    background: rgba(127, 153, 218, 0.24);
    color: #5C76BA;
  }
.secondWr{
  margin-top: 80px;


}
.sCol{
  padding-bottom: 50px;
  padding-top: 90px;
}
.firstWr .sCol{
  padding-top: 0px;
  background-image: none;
}

.cube{
  width: 211px;
  height: 211px;
  background: #E2F0FF;
  border-radius: 24px;
  color: #5C76BA;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
;
}
.cubeTitle{
  font-weight: 500;
  font-size: 72px;
  line-height: 93px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;
}
.cubeDescr{
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  font-weight: 300;
  text-align: center;
  color: #5C76BA;
  opacity: 0.8;
}
.sCube, .fourCube{
  margin-left: 32px;
}
.tCol{
  width: ~"calc(100% - (121px + 32px))";
  background: #E2F0FF;
  border-radius: 24px;
  box-sizing: border-box;
  padding: 32px;
  position: relative;

}
.firstWr{
  margin-top: 90px;
  margin-bottom: 180px;
}
.firstWr.fixedMenufirstWr{
  margin-top: 178px;
}
.corouselSwWr{
  display: flex;
  position: absolute;
  right: 24px;
  top:24px
}
.corouselSwWrItem{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(127, 153, 218, 0.5);
  border-radius: 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  margin: 8px;
  cursor: pointer;
}
.corouselSwWrItem:hover{
  background: #7F99DA;
}
.carouselItemWr{
  color: #5C76BA;
}
.carouselItemDescr{
font-weight: 300;
font-size: 18px;
line-height: 28px;
  margin-right:182px;
  margin-top:16px;
}
.carouselItemTitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */


  color: #5C76BA;
}

.carouselItemFaceImage{
  width: 118px;
  height: 118px;
  background-color: rgba(127, 153, 218, 0.56);
  border-radius: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top:28px;
  background-position: center;
}
.carouselItemFaceWr{
  display: flex;
  justify-content: space-between;
}

.carouselItemFaceName{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-top:12px;

}
.carouselItemFacePos{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(92, 118, 186, 0.8);
 // margin-top:4px;
}
.fourWr{
  margin-top:90px;
  padding-bottom: 45px;
  background:  linear-gradient(180deg, rgba(239,247,255,1) 0%, rgba(225,240,255,0) 3%, rgba(225,240,255,1) 97%, rgba(239,247,255,1) 100%);
}
.progMenuRow{
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

margin-top:12px;
  color: rgba(92, 118, 186, 0.8);
}
.progMenuDate{
  width: 120px;
}
.progMenuWr{
  margin-top: 48px;
}
.progMenuItem{
  background-color: rgba(127, 153, 218, 0.35);
  border-radius: 100px;
  padding: 9px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-right: 16px;
  cursor: pointer;
}
.progMenuItem:hover
{
  background: rgba(127, 153, 218, 0.25);
  //color:#95AAE2
}
.progMenuItem.selected{
  background: #7F99DA;
  color:#FFFFFF;
}

.progTitle{
  display: flex;
  margin-top: 72px;
  padding-bottom: 14px;
  border-bottom: 2px solid rgba(127, 153, 218, 0.24);
}
.progTitleName{
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;

  color: #5C76BA;

}
.progTitleTrack{
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  padding-top: 5px;
  color: rgba(92, 118, 186, 0.8);
  margin-left: 24px;
}
.progitem{
  margin-top: 72px;
}
.progitemTime{
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;

  color: #5C76BA;
}
.progItemWR{
  background: #F7FBFF;
  border-radius: 16px;
  margin-top: 24px;
  position: relative;
}
.progItemTitelWr{
  padding: 24px;
  border-bottom: 2px solid rgba(127, 153, 218, 0.24);;
  display: flex;
  align-items: center;
  width: ~"calc(100% - 180px)";
}
.progitemIco{
  width: 54px;
  height: 54px;
}
.progitemIco img{
  width: 100%;
  height: auto;
}
.progItemTitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */


  color: #5C76BA;
  margin-left: 24px;
}
.progItemTiteSPkWr{
  padding: 24px;
  padding-top: 16px;
}
.progItemTiteSPkWr{
}
.progItemModBox{
  margin-right: 48px;
}
.progItemSpkItemPhoto{
  width: 32px;
  height: 32px;
  background-color:#E1F0FF;
  margin-right: 12px;
  border-radius: 4px;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.progItemSpkItemNameWr{
  width: ~"calc(100% - 32px - 12px)";
}
.progItemSpkItem{
  display: flex;
  margin-top:12px;
    width: 25%;


}
.progItemModTitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: rgba(92, 118, 186, 0.6);
}
.progItemSpkItemName{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #5C76BA;
}
.progItemSpkItemName span{
  display: block;
}
.progItemSpkItemPos{
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgba(92, 118, 186, 0.8);
}
.progItemSpkItemWr{
  display: flex;gap: 24px;
}
.progItemBtn{

  padding:  8px 24px;
  position: absolute;

  background: rgba(127, 153, 218, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */
  right: 24px;
  top:24px;
  cursor: pointer;
  color: #5C76BA;
}
.progItemBtn:hover{
  background: #7F99DA;
  color:#ffffff
}
.progUpBtnWr{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:48px;
}
.progUpBtn{
  background: rgba(127, 153, 218, 0.24);
  border-radius: 8px;
  padding:  8px 24px;
  width: max-content;

  background: #7F99DA;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height, or 137% */
  right: 24px;
  top:24px;
  cursor: pointer;
  color: #FFFFFF;
}
.progUpBtn:hover{
  background: rgba(127, 153, 218, 0.24);
  color: #5C76BA;
}
.fiveWr{
  margin-top:45px;

}
.spkWr{

}
.spkTitle{
  position: relative;
}
.spkSwitherWr{
position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 12px;
}
.spkSwitherWrTitle{
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 125% */


  color: #5C76BA;
}
.spkSwitherWrTitleUp, .spkSwitherWrTitleDown{
  background: rgba(127, 153, 218, 0.5);
  border-radius: 12px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.spkSwitherWrTitleUp:hover, .spkSwitherWrTitleDown:hover{
  background: #7F99DA;
}
.spkWr{
  margin-top:30px
}
.spkItem{
  cursor: pointer;
}
.spkItemPhoto{
  background-color: #E1F0FF;
  width: 272px;
  height: 272px;
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/noUser.svg);
  background-size: contain;
  filter: brightness(100%);
}
.spkItemPhoto:hover{

  filter: brightness(90%);
}

.spkItemName{
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #5C76BA;
  margin-top:16px;
}
.spkItemPos{font-weight: 500;
  font-size: 16px;
  line-height: 24px;
/* identical to box height, or 150% */
  padding-right: 24px;
margin-top:4px;
  color: rgba(92, 118, 186, 0.8);}

.spkPage{
  display: flex;
  flex-wrap: wrap;
}
.spkItem{
  width: 25%;
  margin-bottom: 48px;

}
.sixWr{
  margin-top:45px;

}
.faqItem{
  background: #E2F0FF;
  border-radius: 32px;
  padding: 32px;
  margin-top:32px;
}
.faqItemTitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */


  color: rgba(92, 118, 186, 0.8);
}
.faqItemText{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: rgba(92, 118, 186, 0.6);
  margin-top: 8px;
}
.sixBg{
  background-image: url(/images/sixBg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-left: 90px;

}
.footerWr{
  background:  linear-gradient(180deg, rgba(239,247,255,1) 0%, rgba(225,240,255,0) 10%, rgba(225,240,255,1) 100%);
  padding-top: 90px;
}
.footerWr .loginWr{
  display: none;
}
.footerDesclaimerWr{
  display: flex;
  gap: 24px;
  font-size: 10px;
  line-height: 16px;
  color: #5C76BA;
  padding-bottom: 24px;
}
.trackAboutWr{
  position: fixed;
  z-index: 200;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  background: ~"rgb(255 255 255 / 50%)";;
  backdrop-filter: blur(12px);
}
.trackAboutBox{
  margin-top: 48px;
  background: #ffffff;
  color:#5C76BA;
  height: ~"calc(100% - 48px)";
  overflow-y: scroll;
  box-sizing: border-box;
  position: relative;
  padding: 90px 48px;
  border-radius: 24px 24px 0 0;

}
.trackAboutClose{
  cursor: pointer;
  position: absolute;
  right: -56px;
  top: -56px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(127, 153, 218, 0.56);
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutText{
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */


  color: rgba(92, 118, 186, 0.8);
}
.aboutText li{
  margin-top:1em
}
.progItemModBox{
  margin-top: 24px;
}
.spkDescrTitleBox{
  display: flex;
  gap: 48px;
}
.spkDescrPhoto{
  width: 91px;
  height: 91px;
  border-radius: 24px;
  background-color: #E1F0FF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.spkDescrTitle{
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */


  color: #5C76BA;
}
.spkDescrPos{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  color: rgba(92, 118, 186, 0.8);
  margin-top: 4px;
}
.spkDescrTitleWr{
  display: flex;
  align-items: center;
}
.spkToPgmItemData{
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  /* identical to box height */
  color: rgba(92, 118, 186, 0.8);
}
.spkToPgmItemTitle{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */


  color: #5C76BA;

}
.spkToPgmItem{
  margin-top:32px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(127, 153, 218, 0.24);
}
.spkToPgmWr{
  margin-top: 48px;
}
.towerReg{
  background: #FFFFFF;
  width: 456px;
  padding: 24px 32px ;
  position: relative;
  margin: 32px auto;
  border-radius: 12px;
  max-height: ~"calc(100vh - 64px)";
  overflow-y: scroll;
}
.regAboutClose{
  position: absolute;
  right: 10px;
  top:-74px;
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(127, 153, 218, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.regAboutClose:hover{
  background-color: rgba(127, 153, 218, 0.25);
}
.towerReg .regAboutClose{
  top:10px;
}
.regTitle{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */

  text-transform: uppercase;

  color: #5C76BA;
}
.regFrm input{

  background: #F7F9FC;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  font-size: 18px;
  line-height: 28px;
  border: none;
  border-radius: 4px;
  /* identical to box height, or 175% */
  color: #5C76BA;
  margin-top:24px;
}
.regFrm input::placeholder{
  color: rgba(92, 118, 186, 0.6);
  font-size: 16px;
  line-height: 28px;
}
.promiceWr{
  display: flex;
  margin-top: 24px;
  cursor: pointer;
}
.promiceArrow{
  background: #F7F9FC;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promiceText{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */


  color: rgba(92, 118, 186, 0.8);
}
.regSubmitBtnWr{
  position: relative;
  box-sizing: border-box;
  padding: 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  color: #FFFFFF;
  text-align: center;
  background: rgba(127, 153, 218, 0.56);
  border-radius: 8px;
  margin-top: 24px;
  cursor: pointer;
}
.regSubmitBtnWr.active{
   background: #7F99DA;
 }
.regSubmitBtnWr.active:hover{
  color:#5C76BA;
  background: rgba(127, 153, 218, 0.24);
}
@keyframes reg {
  0%{width: 0;}
  100%{width: 100%}
}
.reqProcess{
  background: #e7f1fe;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 4px;
  left: 0;
  animation: reg 6s infinite;
}
.showMobile{
  display: none;
}
.regText{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: rgba(92,118,186,0.8);
  margin:24px 0;
}
@keyframes op5to1 {
  0%{opacity: 50%;}
  50%{opacity: 100%}
  100%{opacity: 50%}
}
#rubLine{
  opacity: 1;
  animation: op5to1 4s infinite;
}
#chatDot{
  opacity: 1;
  animation: op5to1 2s infinite;
}
@keyframes UpDown {
  0%{transform: scaleY(1);}
  50%{transform: scaleY(1.02);}
  100%{transform: scaleY(1);}
}
#p1{
  animation: UpDown 6s infinite;

}
.newLine{
  font-weight:  500;
  display: block;
}
.promiceText{
  width: ~"calc(100% - 48px)";
}
.carouselItemFacePos{
  width: 118px;
}
.listMod{
   width: 250px;;
}
.listSpk{
  width: ~"calc(100% - 250px)";
}

@media (max-width:1280px) {
.br{
  display: block;
}
  .showMobile{
    display: inherit;
  }
  .tower{
    padding: 0 24px;
  }
  .mainMenuWr .tower{
    background: #FFFFFF;
  }
  .row{
    display: block;
  }
  .firstWr .row{
    display: flex; flex-direction: column;
  }

  .logoWr{
    padding: 12px 0;
  }
  .mainMenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: white;
    text-align: center;
  }
  .menuWr{
    display: none;
  }
  .loginWr{
    display: none;
  }
  .fCol{
    width: 100%;
  }
  .firstWr{
    margin-top: 48px;
    margin-bottom: 0;
  }
  h1{
      font-size: 27px;
      line-height: 38px;

  }
  h2{
    font-size: 18px;
    line-height: 28px;

  }
  h4{font-size: 18px;
    line-height: 28px;}

  .firstWr .sCol{
    padding: 0;
    height: 272px;
    //padding-bottom: 100%;
   // height: 0;
    width: 100%;
    order: 1;
  }
  .firstWr .fCol{
    margin-top:24px;
    order: 2;
  }
  .aboutTitle{
    font-size: 27px;
    line-height: 38px;
  }
  .aboutDescr{
    font-size: 16px;
    line-height: 28px;
  }
  .hideMobile{
    display: none !important;
  }
  .sMobileCol{
    margin-top:28px;
  }
  .mobileBgCube{
    background: url(/images/mobileCube.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .sMobileCol .cube{
    width: 120px;
    height: 120px;

  }
  .cubeTitle{
    font-size: 27px;
    line-height: 38px;
  }
  .cubeDescr{
    font-size: 16px;
    line-height: 24px;
  }
  .tCol{
    width: 100%;
    margin-top: 28px;
    padding: 12px;
    padding-bottom: 24px;
  }
  .corouselSwWr{

    position: inherit;
    display: flex;

  }
  .carouselItemTitle{
    font-size: 20px;
    line-height: 28px;
  }
  .carouselItemDescr{
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    font-weight: 300;
  }
  .carouselItemFaceWr{
    overflow: auto;
  }
  .carouselItemFaceWr::-webkit-scrollbar {
    display: none;
  }
  .carouselItemFace{
    margin-right: 18px;
  }
  .carouselItemFaceName{
    font-size: 18px;
    line-height: 26px;
  }
  .carouselItemFacePos{
    font-size: 16px;
    line-height: 24px;
  }
  .progMenuDate{
    font-size: 20px;
    line-height: 28px;
  }
  .progMenuItem{
    font-size: 16px;
    line-height: 24px;
    margin-top:12px;
  }
  .progTitle{
    display: block;
  }
  .progTitleName{
    font-size: 20px;
    line-height: 28px;
  }
  .progTitleTrack{
    font-size: 16px;
    line-height: 24px;
  }
  .progItemTitelWr{
    display: block;
    width: inherit;
  }
  .progItemTitle{
    margin: 0;
    margin-top:12px;
  }
  .progItemSpkItemWr{
    overflow: auto;
  }
  .progItemSpkItemWr::-webkit-scrollbar {
    display: none;
  }
  .progItemModBox{
    width: 100%;
  }
  .progItemSpkItemPhoto{
   // width: ~"calc(32px + 12px)";

  }
  .progitemTime{
    font-size: 20px;
    line-height: 28px;
  }
  .fiveWr{
    margin-top:0;
  }
  .spkSwitherWr{
    position: inherit;
  }
  .spkTitle{
    font-size: 20px;
    line-height: 28px;
  }
  .spkWr{
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
  }
  .spkWr::-webkit-scrollbar {
    display: none;
  }
  .spkItem{
    width: inherit;
    margin-right: 12px;

  }
  .spkPage{
    overflow-x: auto;
    overflow: auto;
    white-space: nowrap;
    display: inline-block;
  }
  .spkPage::-webkit-scrollbar {
    display: none;
  }
  .spkItem{
    display: inline-block;
    width: 272px;;
  }
  .faqItem{
    padding: 24px 12px;
  }
  .footerWr{
    padding-top:48px;
  }

  .footerDesclaimerWr{
    flex-direction: column;
  }
  .regTitle{
    font-size: 20px;
    line-height: 28px;
  }
  .towerReg{
    width: 100%;
    max-height: ~"calc(100vh - 24px)";
    overflow-y: auto;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 0;
    padding-top: 48px;
    border-radius: 0;
  }
  .regAboutClose{
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    position: fixed;
    z-index: 300;
  }
  .trackAboutBox{
    padding: 12px;
    margin: 0;
    border-radius: 0;
    padding-top: 48px;
    height: 100vh;
  }
  .aboutTitle{font-size: 20px;
    line-height: 28px;
    padding-top: 24px;
  }
  .trackAboutClose{
    right: 12px;
    top: 12px;
    width: 32px;
    height: 32px;
    position: fixed;
    z-index: 300;
  }
  .aboutText{
    font-size: 16px;
    line-height: 24px;
  }
  .spkDescrTitleBox{
    display: block;
  }
  .spkDescrTitleWr{
    margin-top:24px;
  }
  .spkDescrTitle, .spkToPgmItemData{
    line-height: 28px;
    padding-top: 24px;
  }
  .spkDescrPos, .spkToPgmItemTitle{
    font-size: 16px;
    line-height: 24px;
  }
  .sevenWr .tower{
    margin-top:48px;
    text-align: right;
  }
  .sevenWr .tower svg{
    max-width: 100%;
  }
  .fixedMenu{
    position: inherit;
    animation: none;
  }
  .fixedMenu .sb{
    padding: 12px 0;
  }
  .firstWr.fixedMenufirstWr{
    margin-top: 48px;
  }
  .fBg{
    background-image: url("/images/mainImgMobile.svg") !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .fBg svg{
    display: none;
  }
  .progMenuRow{
    margin-top:24px;
  }
  .progItemSpkItemNameWr{
    width: ~"calc(100% - 32px - 12px)";
  }
  .trackAboutBox .aboutText{
    margin-top:24px;
  }
  .sevenWr img{
    width: 100%;
  }
  .footerDesclaimer div{
    margin-top:12px;
  }
  .progItemSpkItemWr{
    display: block;
  //  margin-top: 24px;
  }
  .progItemSpkItem{
    margin-top: 24px;
    width: 100%;
  }
  .spkItemPos{
    overflow: hidden;
  }
  .listMod{
    width: inherit;
  }
  .listSpk{
    width: inherit;;
  }
  .progItemSpkItemName span{
    display: inline-block;
    margin-right: .5em;
  }
  .gamburger{
    padding-top: 12px;
  }
  .mobileMenuWr{
    position: fixed;
    z-index: 200;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: ~"rgb(255 255 255 / 50%)";;
    backdrop-filter: blur(12px);
  }
  .mobileMenuItem{
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */
    text-align: center;
    margin-top:40px;
    color: rgba(92, 118, 186, 0.8);
  }
  .mobileMenuWr{
    height: 100vh;
  }
  .mobileMenuWr .towerReg{
    height: 100vh;
    position: relative;
  }
  .mobileMenuBtnWr{
   // position: absolute;
    //bottom: 12px;
   // left: 12px;
   // right: 12px;
    margin-bottom: 24px;
    margin-top: 12px;
  }
}
@media (max-width:458px) {


}



